 {
    "extends": [
      "eslint-config-airbnb",
    ],
    "rules": {
        "comma-style": ["error", "last"],
        "quotes": ["error", "single"],
        "react/require-default-props": [1],
        "react/prop-types": [1],
        "react/no-multi-comp": "off"
    },
    "env": {
        "browser":true,
        "node": true
    }
}

