 {
    "extends": [
      "eslint-config-airbnb",
    ],
    "rules": {
        "comma-style": ["error", "last"],
        "quotes": ["error", "single"],
        "comma-dangle": ["error", "always-multiline"],
        "react/require-default-props": "off",
        "react/prop-types": "off",
        "react/no-multi-comp": "off"
    },
    "env": {
        "browser":true,
        "node": true
    }
}

